[MESSAGES CONTROL]

disable=import-error,
        fixme,
        no-member,
        duplicate-code,
        too-few-public-methods,
        too-many-statements,
        consider-using-with,
        unspecified-encoding,
        consider-using-f-string,
        use-list-literal
