      <!-- Page Footer -->
      <footer class="footer">
        <div class="container">
            <div class="row mb-2" class="footer-google-inc">© 2020-2024 Google LLC</div>
            <div class="row mb-3">
              <small>
                <b>Cluster: </b>{{ cluster_name }}, <b>Pod: </b>{{ pod_name }}, <b>Zone: </b>{{ rum_realm }}, <b>Version: </b>{{ splunk_version}}
              </small>
            </div>
            <div class="row mb-3">
              <small>
                This website is hosted for demo purposes only. It is not an
                actual bank. This is not an official Google project.
              </small>
            </div>
        </div>
      </footer>
