    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  {% if cymbal_logo == "true" %}
    <title>CymbalBank</title>
  {% else %}
    <title>{{ bank_name }}</title>
  {% endif %}
    <link rel="icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/styles/cymbal.css">
  {% if platform_name is not none %}
    <link rel="stylesheet" href="static/styles/platform.css">
    <link rel="stylesheet" href="static/styles/platform/{{ platform }}.css">
  {% endif %}
  {% if rum_realm is not none and rum_auth is not none %}
    <script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web.js" crossorigin="anonymous"></script>
    <script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web-session-recorder.js" crossorigin="anonymous"></script>
    <script>
        var rum_realm = "{{ rum_realm }}";
        var rum_auth = "{{ rum_auth }}";
        var rum_app_name =  "{{ rum_app_name}}";
        var rum_environment = "{{ rum_environment }}";
        SplunkRum.init({
            realm: rum_realm,
            rumAccessToken: rum_auth,
            applicationName: rum_app_name,
            version: rum_app_version,
            deploymentEnvironment: rum_environment
        });
        SplunkSessionRecorder.init({
            realm: rum_realm,
            rumAccessToken: rum_auth
        });
    </script>
    {% endif %}