attrs==21.4.0
bcrypt==3.2.2
bleach==5.0.0
cachetools==4.2.4
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
click==8.1.3
cryptography==37.0.2
flask==2.1.2
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-trace==1.6.1
googleapis-common-protos==1.56.2
grpcio==1.45.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
jinja2==3.1.2
markupsafe==2.1.1
more-itertools==8.13.0
opentelemetry-sdk==1.11.1
opentelemetry-exporter-gcp-trace==1.3.0
opentelemetry-propagator-gcp==1.3.0
opentelemetry-instrumentation-flask==0.30b1
opentelemetry-instrumentation-sqlalchemy==0.30b1
packaging==21.3
pluggy==1.0.0
protobuf==3.20.1
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pyjwt==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
pytz==2022.1
requests==2.27.1
rsa==4.8
six==1.16.0
sqlalchemy==1.4.36
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
