attrs==21.4.0
bcrypt==3.2.0
bleach==4.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cryptography==36.0.2
flask==1.1.4
pyjwt==1.7.1
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-trace==0.24.1
googleapis-common-protos==1.56.0
grpcio==1.45.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.12.0
psycopg2==2.9.3
sqlalchemy==1.4.34
opentelemetry-sdk==0.13b0
opentelemetry-exporter-google-cloud==0.13b0
opentelemetry-tools-google-cloud==0.13b0
opentelemetry-instrumentation-flask==0.13b0
opentelemetry-instrumentation-sqlalchemy==0.13b0
packaging==21.3
pluggy==1.0.0
protobuf==3.20.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
PyJWT==1.7.1
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
pytz==2022.1
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.14.0
zipp==3.8.0
