attrs==21.4.0
bcrypt==3.2.0
bleach==4.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cryptography==36.0.2
flask==1.1.4
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-trace==0.24.0
googleapis-common-protos==1.56.0
grpcio==1.44.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.12.0
opentelemetry-sdk==0.13b0
opentelemetry-exporter-google-cloud==0.13b0
opentelemetry-tools-google-cloud==0.13b0
opentelemetry-instrumentation-flask==0.13b0
opentelemetry-instrumentation-sqlalchemy==0.13b0
packaging==20.9
pluggy==0.13.1
protobuf==3.19.4
psycopg2==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pyjwt==1.7.1
pyparsing==2.4.7
pytest==7.1.1
pytest-cov==2.12.1
pytz==2020.5
requests==2.27.1
rsa==4.8
six==1.16.0
sqlalchemy==1.4.32
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.14.0
zipp==1.2.0
