attrs==23.2.0
bcrypt==4.2.0
bleach==6.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
click==8.1.7
cryptography==44.0.1
flask==3.0.3
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-trace==1.13.5
googleapis-common-protos==1.65.0
grpcio==1.66.1
gunicorn==23.0.0
idna==3.10
importlib-metadata==6.11.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==2.1.5
more-itertools==10.5.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-gcp-trace==1.7.0
opentelemetry-propagator-gcp==1.7.0
opentelemetry-instrumentation-flask==0.48b0
opentelemetry-instrumentation-sqlalchemy==0.48b0
packaging==23.2
pluggy==1.5.0
protobuf==4.25.8
psycopg2-binary==2.9.9
py==1.11.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pycryptodome==3.20.0
pyjwt==2.9.0
pyparsing==3.1.4
pytest==7.4.4
pytest-cov==4.1.0
pytz==2023.4
requests==2.32.3
rsa==4.9
six==1.16.0
sqlalchemy==1.4.54
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
wrapt==1.16.0
zipp==3.20.2
