attrs==23.2.0
bcrypt==4.3.0
bleach==6.3.0
cachetools==5.5.2
certifi==2024.12.14
chardet==5.2.0
click==8.3.1
cryptography==46.0.5
flask==3.1.2
google-api-core==2.28.1
google-auth==2.45.0
google-cloud-core==2.5.0
google-cloud-trace==1.17.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
gunicorn==23.0.0
idna==3.11
importlib-metadata==6.11.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==2.1.5
more-itertools==10.8.0
opentelemetry-sdk==1.39.1
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-propagator-gcp==1.11.0
opentelemetry-instrumentation-flask==0.60b1
opentelemetry-instrumentation-sqlalchemy==0.60b1
packaging==23.2
pluggy==1.6.0
psycopg2-binary==2.9.11
py==1.11.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
pyjwt==2.10.1
pyparsing==3.3.1
pytest==7.4.4
pytest-cov==4.1.0
pytz==2023.4
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlalchemy==1.4.54
urllib3==2.6.0
wcwidth==0.2.14
webencodings==0.5.1
wrapt==1.17.3
zipp==3.23.0