attrs==23.2.0
bcrypt==4.2.0
bleach==6.1.0
cachetools==5.5.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
click==8.1.7
cryptography==42.0.8
flask==3.0.3
google-api-core==2.19.1
google-auth==2.34.0
google-cloud-core==2.4.1
google-cloud-trace==1.13.5
googleapis-common-protos==1.63.2
grpcio==1.65.5
gunicorn==22.0.0
idna==3.7
importlib-metadata==6.11.0
itsdangerous==2.2.0
jinja2==3.1.4
markupsafe==2.1.5
more-itertools==10.4.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-gcp-trace==1.6.0
opentelemetry-propagator-gcp==1.6.0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-sqlalchemy==0.47b0
packaging==23.2
pluggy==1.5.0
protobuf==4.25.4
psycopg2-binary==2.9.9
py==1.11.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pyjwt==2.9.0
pyparsing==3.1.2
pytest==7.4.4
pytest-cov==4.1.0
pytz==2023.4
requests==2.32.3
rsa==4.9
six==1.16.0
sqlalchemy==1.4.53
urllib3==2.2.2
wcwidth==0.2.13
webencodings==0.5.1
wrapt==1.16.0
zipp==3.20.0
