flask==3.1.2
requests==2.32.5
urllib3==2.6.0
pyjwt==2.10.1
cryptography==46.0.3
gunicorn==23.0.0
google-auth==2.45.0
opentelemetry-sdk==1.39.1
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-propagator-gcp==1.11.0
opentelemetry-instrumentation-flask==0.60b1
opentelemetry-instrumentation-jinja2==0.60b1
opentelemetry-instrumentation-requests==0.60b1