flask==1.1.4
requests==2.27.1
urllib3==1.26.8
pyjwt==1.7.1
cryptography==36.0.1
gunicorn==20.1.0
opentelemetry-sdk==0.13b0
opentelemetry-exporter-google-cloud==0.13b0
opentelemetry-tools-google-cloud==0.13b0
opentelemetry-instrumentation-flask==0.13b0
opentelemetry-instrumentation-sqlalchemy==0.13b0
opentelemetry-instrumentation-jinja2==0.13b0
opentelemetry-instrumentation-requests==0.13b0